* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.brand-title {
  color: #1c2955;
  font-weight: bold;
}

.anchor {
  color: rgba(102, 130, 234, 0.8);
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  min-width: 100px;
  text-align: center;
}

.lista-larger-btn {
  min-width: 250px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

a:hover {
  text-decoration: underline;
}

.justify, .justify-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify-nav {
  justify-content: space-between;
  gap: 10px;
  margin: 0 15px;
  margin-left: 30px;
  padding: 0 10px;
}

.input {
  width: 300px;
  padding: 5px;
  padding-left: 10px;
  background-color: rgba(34, 42, 73, 0.8);
  color: white;
  border: none;
  border-radius: 3px;
}

.input::placeholder {
  color: #c8c9cd;
}

.lista {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-left: 80px;
}
.lista button {
  font-size: 17px;
  color: rgba(102, 130, 234, 0.8);
  font-weight: bold;
  padding: 0 5px;
  min-width: 100px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.c-item {
  filter: brightness(0.6);
}
.c-item img {
  height: 500px;
  object-fit: cover;
}

.products-list {
  margin-top: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 10px;
  place-content: center;
  height: 250px;
}

.product-item {
  padding-bottom: 10px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  gap: 10px;
}
.product-item div {
  width: 100%;
  height: max-content;
}
.product-item p {
  font-weight: bold;
  padding: 0;
  margin: 5px;
}
.product-item img {
  height: 120px;
  width: 120px;
}

.product-item:hover {
  cursor: pointer;
  border: 2px solid rgba(34, 42, 73, 0.8);
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 10px;
  height: 100%;
}
.formulario button {
  font-size: 17px;
  color: #c8c9cd;
  font-weight: bold;
  padding: 0 5px;
  min-width: 150px;
  border: none;
  cursor: pointer;
  background-color: rgba(34, 42, 73, 0.8);
}
.formulario div {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  margin-top: 10px;
}

.divisor {
  border: 2px solid black;
}

.footer-container {
  min-height: 200px;
  margin-top: 20px;
}

.footer-container-men {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
}

.footer-row {
  display: flex;
  gap: 10px;
  min-height: 200px;
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
.footer-col h2 {
  color: rgba(34, 42, 73, 0.8);
  font-weight: 600;
}
.footer-col ul {
  text-align: center;
  list-style: none;
  width: 100%;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  height: 100%;
}
.footer-col ul li {
  min-width: 200px;
  text-align: center;
  font-size: 20px;
}
.footer-col ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.women-products-container h3 {
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 10px;
}

.women-examples {
  display: flex;
  margin-top: 5px;
}

.women-article {
  text-align: center;
  margin-top: 15px;
}
.women-article img {
  height: 120px;
  width: 120px;
}

.women-article:hover {
  border: 2px solid black;
}

.women-details {
  height: 50px;
}
.women-details p {
  margin: 0;
  font-weight: bold;
}

.pagination-list {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
}
.pagination-list li {
  font-size: 16px;
  width: 30px;
}
.pagination-list li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.filters-div {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.filters-div button {
  font-size: 17px;
  color: #c8c9cd;
  font-weight: bold;
  padding: 0 5px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  background-color: rgba(34, 42, 73, 0.8);
}

@media (max-width: 992px) {
  .anchor {
    text-align: left;
  }
  .justify-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    margin-top: 15px;
  }
  .lista {
    text-align: left;
    margin-left: 0;
    gap: 10px;
  }
  .lista button {
    text-align: left;
  }
  .products-section {
    display: flex;
    align-items: center;
  }
  .products-list {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .product-item p {
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
